.headerTab {
    cursor: pointer;

    border: none;
    border-radius: 5px;

    box-shadow: var(--shadow-1);

    background-color: var(--bg-dark-primary);

    width: 70px;
    height: 30px;

    padding: 5px;
    outline: none;

    background-position: center;
    transition: background 0.5s;

    .headerTab__title {
        color: var(--text-light-primary);

        font-size: 0.8em;

        letter-spacing: 1px;

        text-align: center;

        text-transform: capitalize;
    }
}

.headerTab:hover {
    background: var(--bg-dark-third);
}

.headerTab:focus {
    background: var(--bg-dark-third);
}
