.sidebarTool {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.sidebarTool button {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    cursor: pointer;

    border: none;
    border-radius: 5px;

    box-shadow: 1px 1px 1px;

    background-color: var(--bg-dark-secondary);

    width: 70px;
    padding: 5px;
    outline: none;

    background-position: center;
    transition: background 0.5s;
}

.sidebarTool button:hover {
    background: var(--bg-dark-third);
}

.sidebarTool button:focus {
    background: var(--bg-dark-third);
}

.sidebarTool__icon {
    color: var(--text-light-primary);
}

.sidebarTool__title {
    color: var(--text-light-secondary);

    font-size: 0.8em;

    letter-spacing: 1px;

    text-align: center;

    text-transform: capitalize;
}